.infoContainer {
  display: flex;
  gap: 15px;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 15px;
  height: 580px;
  width: 300px;
  justify-content: center;
  padding-top: 25px;
}

.infoList {
  max-height: 500px;
  overflow: scroll;
}

.infoList::-webkit-scrollbar {
  display: none;
}
.search {
  max-height: 12px;
}

.search-add {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.detaileInfo {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 15px;
  width: 300px;
  height: 580px;
  justify-content: center;
  padding-top: 25px;
}

.detailedInfoList {
  display: flex;
}

.n-focus {
  background-color: transparent;
  border: none;
}

.stu-name {
}

.stu-name:hover {
  background-color: tomato;
}

.selected {
  border: 1px solid black;
}
